/*HEADER*/

header{
    @include header;


    ul{
        list-style-type: none;
        text-decoration: none;
    }

    a{
        text-decoration: none;
        color: map-get($color, "secondary");
        font-family: 'Poppins', sans-serif;
        position: relative;
        letter-spacing: 0.5px;
        padding: 0 10px;
    }
    
    a::after{
        content: "";
        position: absolute;
        background-color: crimson;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    
    }
    
    a:hover::after{
        width: 100%;
    
    }
    
    nav ul li{
        height: 25px;
    
    }
    
    ul li a{
        padding: 5px;
    
    
    }
    nav ul li a:hover{
        background-color: rgb(229, 229, 229);
        padding: 1.5 rem 1.5 rem;
        border-color: 2px solid black;
        border-radius: 3px;
     }
}

    header .header__logo{
    /* flex-basis: 40%; */
   }
   
   header .header__img{
     max-width: 120px;
   }
   
   header .navigation{
     /* flex-basis: 60%; */
   }
   
   header nav .menu{
     display: flex;
     gap: 2rem;
     text-align: center;
   }
   
   .menu .menu__link{
    font-size: 2.2em;
    color: map-get($color, "secondary" );
    text-decoration: none;
  }
  