.ofertas{
    text-align: center;
    padding: 20px;
    background-color: crimson;
    color: white;
    margin: 0 auto;
    max-width: 1200px;
}

.card3{
    transition: all 0.25s;
    
  
}
  
.card3:hover{
    transform: translateY(15px);
  
}