/* Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    
}

body{
    min-height: calc(100vh - 100px - 100px);
}

img{
    width: 100%;
    height: 100%;
}